.buttonContainer {
  height: 318px;
  padding: 3px;
  /*   box-shadow: 0 3px 4px 3px rgb(0 0 0 / 12%), 0 3px 5px rgb(0 0 0 / 24%); */

  display: grid;
  grid-template-columns: 60px 60px 60px 60px;
  grid-template-rows: 60px 60px 60px 60px;
  grid-gap: 3px 3px;
  grid-template-areas:
    "clear clear divide multiply"
    "seven eight nine subtract"
    "four five six add"
    "one two three equals"
    "zero zero dot equals";
}

button {
  background: #fff;
  border: none;
  cursor: pointer;
  font-family: monospace;
  font-size: 18px;
  font-weight: bold;
}

button:hover {
  opacity: 0.9;
}

.operator {
  background: #ccc;  
}

#one {
  grid-area: one;
}
#two {
  grid-area: two;
}
#three {
  grid-area: three;
}
#four {
  grid-area: four;
}
#five {
  grid-area: five;
}
#six {
  grid-area: six;
}
#seven {
  grid-area: seven;
}
#eight {
  grid-area: eight;
}
#nine {
  grid-area: nine;
}
#zero {
  grid-area: zero;
}
#add {
  grid-area: add;
}
#subtract {
  grid-area: subtract;
}
#divide {
  grid-area: divide;
}
#multiply {
  grid-area: multiply;
}
#clear {
  grid-area: clear;
  background-color: rgb(172, 57, 57);
  color: #fff;
}
#dot {
  grid-area: dot;
}
#equals {
  grid-area: equals;
  background: #00c853;
}

